head, body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    user-select: none;
    transition: background-color 0.4s;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hearts {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    transition: opacity 0.4s;
}

.heart {
    position: absolute; /* Позиционирование сердечек */
    overflow: hidden; /* Скрываем все, что выходит за пределы */
    animation: moveUp linear; /* Добавляем анимацию */
}

.heart svg {
    width: 100%; /* Используем 100% ширины родителя */
    height: 100%; /* Используем 100% высоты родителя */
    fill: red; /* Цвет сердца */
}

@keyframes moveUp {
    0% {
        transform: translateY(100vh) scale(1); /* Начинаем ниже экрана и в нормальном размере */
    }
    100% {
        transform: translateY(-90vh) scale(0); /* Уменьшаем до 0 для эффекта сгорания */
        opacity: 0; /* Уменьшаем прозрачность */
    }
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.panel {
    transition: 0.2s;
    width: 50vw;
    height: 30vh;
    transform: translateY(-30%);
    background-color: rgba(224, 224, 224, 0.7);
    border-radius: 30px;
    backdrop-filter: blur(2px);
    font-size: 150%;
    text-align: center;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#start-buton {
    transition: 0.2s;
    width: 40%;
    height: 30%;
    transform: translateY(50%);
    border: 0;
    border-radius: 20px;
    background-color: white;
    color: black;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 60%;
    overflow: hidden;
}

#start-buton:hover {
    width: 50%;
    height: 40%;
    font-size: 70%;
    transform: translateY(40%);

    .button-heart-left {
        transform: translate(-20%, 20%) rotateZ(25deg);
    }

    .button-heart-right {
        transform: translate(20%, 20%) rotateZ(-25deg);
    }
}

.button-heart-left {
    transition: 0.2s;
    position: absolute;
    width: 30%;
    left: 0;
    bottom: 0;
    transform: translate(-100%, 100%);
}

.button-heart-right {
    transition: 0.2s;
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 0;
    transform: translate(100%, 100%);
}

#poem-block {
    display: none;
    position: absolute;
    top: auto;
    justify-content: center;
    width: 100%;
    transition: 0.2s;
}

#poem-text {
    display: flex;
    transition: 0.2s;
    flex-direction: column;
    font-size: 80%;
    width: 90%;
    text-align: center;
}